*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
h1{
    margin:0 auto;
    margin-top:27px;
    background-color:rgba(0, 128, 128, 0.363);
    width: 400px;
    border:0px solid blue;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.425);
    color:rgba(0, 0, 0, 0.788);

}
.syntax{
    margin: 0 auto;
    margin-top:79px;
    border: 0px solid orangered;
    width:451px;
    background-color:rgba(250, 235, 215, 0.438);
    border-radius:9px;
    padding:19px;
    box-shadow: 3px 3px 5px 5px tan;
    color: rgba(0, 0, 0, 0.788);
}
.syntax> p{
    font-family:monospace;
    margin-top:17px;
    font-size: 15px;
}
.invoke{
    margin: 0 auto; 
    margin-top:111px ;
      border: 0px solid orangered;
      width:299px;
      padding:23px;
      border-radius:9px;
      background-color:rgba(250, 235, 215, 0.438) ;
      box-shadow:3px 3px 5px 5px tan;
      color:rgba(0, 0, 0, 0.788);
}
.invoke >p{
    font-family: monospace;
    margin-top:11px;
    font-size: 15px;

}